<div class="flex justify-center">
  <div class="flex flex-col items-center w-96 mt-32 gap-2 shadow p-8 bg-white">
    <h2>Hi {{quizzResult.name}}, Your results are below: </h2>
    <table class="w-full">
      <tr class="bg-gray-500">
        <td>Score</td>
        <td>{{quizzResult.score}}</td>
      </tr>
      <tr class="bg-purple-500">
        <td>Percentage</td>
        <td>{{quizzResult.percentage}}</td>
      </tr>
      <tr class="bg-green-500">
        <td>Correct</td>
        <td>{{quizzResult.correct}}</td>
      </tr>
      <tr class="bg-red-500">
        <td>UnCorrect</td>
        <td>{{quizzResult.unCorrect}}</td>
      </tr>
      <tr class="bg-yellow-500">
        <td>UnAttempt</td>
        <td>{{quizzResult.unAttempt}}</td>
      </tr>
    </table>
  </div>
</div>
